# Show the tables in the database

In [1]:
import pandas as pd

In [7]:
user_item_profile = pd.read_csv('medalion_data_store/gold/user_item_profile.csv')
user_item_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               14825 non-null  object
 1   age                  17000 non-null  int64
 2   id                   17000 non-null  object
 3   became_member_on     17000 non-null  object
 4   income               14825 non-null  float64
 5   bec_memb_year_month  17000 non-null  object
 6   age_group            17000 non-null  object
 7   cnt_completed_ofr_G  16994 non-null  float64
 8   cnt_completed_ofr_I  16994 non-null  float64
 9   cnt_completed_ofr_J  16994 non-null  float64
 10  cnt_received_ofr_C   16994 non-null  float64
 11  cnt_received_ofr_G   16994 non-null  float64
 12  cnt_received_ofr_H   16994 non-null  float64
 13  cnt_received_ofr_I   16994 non-null  float64
 14  cnt_received_ofr_J   16994 non-null  float64
 15  cnt_viewed_ofr_C     16994 non-null  float64
 16  cnt_viewed_ofr_G     16994 non-null  float64
 17  cnt_viewed_ofr_H     16994 non-null  float64
 18  cnt_viewed_ofr_I     16994 non-null  float64
 19  cnt_completed_ofr_D  16994 non-null  float64
 20  cnt_completed_ofr_E  16994 non-null  float64
 21  cnt_completed_ofr_F  16994 non-null  float64
 22  cnt_received_ofr_D   16994 non-null  float64
 23  cnt_received_ofr_E   16994 non-null  float64
 24  cnt_received_ofr_F   16994 non-null  float64
 25  cnt_viewed_ofr_D     16994 non-null  float64
 26  cnt_viewed_ofr_E     16994 non-null  float64
 27  cnt_viewed_ofr_F     16994 non-null  float64
 28  cnt_completed_ofr_B  16994 non-null  float64
 29  cnt_received_ofr_A   16994 non-null  float64
 30  cnt_received_ofr_B   16994 non-null  float64
 31  cnt_viewed_ofr_B     16994 non-null  float64
 32  cnt_completed_ofr_A  16994 non-null  float64
 33  cnt_viewed_ofr_A     16994 non-null  float64
 34  cnt_viewed_ofr_J     16994 non-null  float64
 35  cnt_transaction      16572 non-null  float64
 36  sum_transaction      16572 non-null  float64
dtypes: float64(31), int64(1), object(5)
memory usage: 4.8+ MB

In [5]:
user_item_cnt_events.isna().sum()

person                      0
cnt_completed_ofr_G         0
cnt_completed_ofr_I         0
cnt_completed_ofr_J         0
cnt_received_ofr_C          0
cnt_received_ofr_G          0
cnt_received_ofr_H          0
cnt_received_ofr_I          0
cnt_received_ofr_J          0
cnt_transaction_tran        0
cnt_viewed_ofr_C            0
cnt_viewed_ofr_G            0
cnt_viewed_ofr_H            0
cnt_viewed_ofr_I            0
cnt_completed_ofr_D         0
cnt_completed_ofr_E         0
cnt_completed_ofr_F         0
cnt_received_ofr_D          0
cnt_received_ofr_E          0
cnt_received_ofr_F          0
cnt_viewed_ofr_D            0
cnt_viewed_ofr_E            0
cnt_viewed_ofr_F            0
cnt_completed_ofr_B         0
cnt_received_ofr_A          0
cnt_received_ofr_B          0
cnt_viewed_ofr_B            0
cnt_completed_ofr_A         0
cnt_viewed_ofr_A            0
cnt_viewed_ofr_J            0
sum_amt_completed_ofr_G     0
sum_amt_completed_ofr_I     0
sum_amt_completed_ofr_J     0
sum_amt_received_ofr_C      0
sum_amt_received_ofr_G      0
sum_amt_received_ofr_H      0
sum_amt_received_ofr_I      0
sum_amt_received_ofr_J      0
sum_amt_transaction_tran    0
sum_amt_viewed_ofr_C        0
sum_amt_viewed_ofr_G        0
sum_amt_viewed_ofr_H        0
sum_amt_viewed_ofr_I        0
sum_amt_completed_ofr_D     0
sum_amt_completed_ofr_E     0
sum_amt_completed_ofr_F     0
sum_amt_received_ofr_D      0
sum_amt_received_ofr_E      0
sum_amt_received_ofr_F      0
sum_amt_viewed_ofr_D        0
sum_amt_viewed_ofr_E        0
sum_amt_viewed_ofr_F        0
sum_amt_completed_ofr_B     0
sum_amt_received_ofr_A      0
sum_amt_received_ofr_B      0
sum_amt_viewed_ofr_B        0
sum_amt_completed_ofr_A     0
sum_amt_viewed_ofr_A        0
sum_amt_viewed_ofr_J        0
dtype: int64

In [6]:
user_item_cnt_events

,person,cnt_completed_ofr_G,cnt_completed_ofr_I,cnt_completed_ofr_J,cnt_received_ofr_C,cnt_received_ofr_G,cnt_received_ofr_H,cnt_received_ofr_I,cnt_received_ofr_J,cnt_transaction_tran,...,sum_amt_viewed_ofr_D,sum_amt_viewed_ofr_E,sum_amt_viewed_ofr_F,sum_amt_completed_ofr_B,sum_amt_received_ofr_A,sum_amt_received_ofr_B,sum_amt_viewed_ofr_B,sum_amt_completed_ofr_A,sum_amt_viewed_ofr_A,sum_amt_viewed_ofr_J
0,0009655768c64bdeb2e877511632db8f,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00116118485d4dfda04fdbaba9a87b5c,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0011e0d4e6b944f998e987f904e8c1e5,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0020c2b971eb4e9188eac86d93036a77,2.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0020ccbbb6d84e358d3414a3ff76cffd,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,fff3ba4757bd42088c044ca26d73817a,1.0,0.0,1.0,0.0,1.0,2.0,0.0,2.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16996,fff7576017104bcc8677a8d63322b5e1,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16997,fff8957ea8b240a6b5e634b6ee8eafcf,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16998,fffad4f4828548d1b5583907f2e9906b,0.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16999,ffff82501cea40309d5fdd7edcca4a07,1.0,0.0,3.0,0.0,1.0,0.0,0.0,3.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
user_item_profile = pd.read_csv('medalion_data_store/gold/user_item_profile.csv')
user_item_profile

,gender,age,id,became_member_on,income,bec_memb_year_month,age_group,cnt_completed_ofr_G,cnt_completed_ofr_I,cnt_completed_ofr_J,...,cnt_viewed_ofr_F,cnt_completed_ofr_B,cnt_received_ofr_A,cnt_received_ofr_B,cnt_viewed_ofr_B,cnt_completed_ofr_A,cnt_viewed_ofr_A,cnt_viewed_ofr_J,cnt_transaction,sum_transaction
0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,2017-02,Senior,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9.0,20.40
1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,2017-07,Middle,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,77.01
2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,2018-07,Senior,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,14.30
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,2017-05,Senior,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,7.0,159.27
4,NaN,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,2017-08,Senior,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,2018-06-04,54000.0,2018-06,Middle,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,7.0,20.03
16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,2018-07-13,72000.0,2018-07,Senior,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,25.97
16997,M,49,01d26f638c274aa0b965d24cefe3183f,2017-01-26,73000.0,2017-01,Middle,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,39.74
16998,F,83,9dc1421481194dcd9400aec7c9ae6366,2016-03-07,50000.0,2016-03,Senior,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,14.0,189.67
16999,F,62,e4052622e5ba45a8b96b59aba68cf068,2017-07-22,82000.0,2017-07,Senior,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,143.02

In [4]:
transac_amount_features = pd.read_csv('medalion_data_store/silver/transac_amount_features.csv')
transac_amount_features

,gender,age,id,became_member_on,income,bec_memb_year_month,age_group,tran_count,tran_amoun_tot,tran_amoun_mean,tran_amoun_max,tran_amoun_min
0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,2017-02,Senior,9.0,20.4,2.3,5.2,0.1
1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,2017-07,Middle,3.0,77.0,25.7,32.3,21.5
2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,2018-07,Senior,6.0,14.3,2.4,4.1,1.3
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,2017-05,Senior,7.0,159.3,22.8,29.7,17.8
4,NaN,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,2017-08,Senior,3.0,4.6,1.5,3.5,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,2018-06-04,54000.0,2018-06,Middle,7.0,20.0,2.9,3.9,1.2
16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,2018-07-13,72000.0,2018-07,Senior,7.0,26.0,3.7,6.5,2.2
16997,M,49,01d26f638c274aa0b965d24cefe3183f,2017-01-26,73000.0,2017-01,Middle,8.0,39.7,5.0,8.3,1.7
16998,F,83,9dc1421481194dcd9400aec7c9ae6366,2016-03-07,50000.0,2016-03,Senior,14.0,189.7,13.5,31.6,6.5
16999,F,62,e4052622e5ba45a8b96b59aba68cf068,2017-07-22,82000.0,2017-07,Senior,6.0,143.0,23.8,30.6,19.5

In [10]:
transcript_features_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 66 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                17000 non-null  int64
 1   person                    17000 non-null  object
 2   cnt_ofr_A                 17000 non-null  float64
 3   cnt_ofr_B                 17000 non-null  float64
 4   cnt_ofr_C                 17000 non-null  float64
 5   cnt_ofr_D                 17000 non-null  float64
 6   cnt_ofr_E                 17000 non-null  float64
 7   cnt_ofr_F                 17000 non-null  float64
 8   cnt_ofr_G                 17000 non-null  float64
 9   cnt_ofr_H                 17000 non-null  float64
 10  cnt_ofr_I                 17000 non-null  float64
 11  cnt_ofr_J                 17000 non-null  float64
 12  cnt_tran                  17000 non-null  float64
 13  avg_time_ofr_A            17000 non-null  float64
 14  avg_time_ofr_B            17000 non-null  float64
 15  avg_time_ofr_C            17000 non-null  float64
 16  avg_time_ofr_D            17000 non-null  float64
 17  avg_time_ofr_E            17000 non-null  float64
 18  avg_time_ofr_F            17000 non-null  float64
 19  avg_time_ofr_G            17000 non-null  float64
 20  avg_time_ofr_H            17000 non-null  float64
 21  avg_time_ofr_I            17000 non-null  float64
 22  avg_time_ofr_J            17000 non-null  float64
 23  max_time_ofr_A            17000 non-null  float64
 24  max_time_ofr_B            17000 non-null  float64
 25  max_time_ofr_C            17000 non-null  float64
 26  max_time_ofr_D            17000 non-null  float64
 27  max_time_ofr_E            17000 non-null  float64
 28  max_time_ofr_F            17000 non-null  float64
 29  max_time_ofr_G            17000 non-null  float64
 30  max_time_ofr_H            17000 non-null  float64
 31  max_time_ofr_I            17000 non-null  float64
 32  max_time_ofr_J            17000 non-null  float64
 33  min_time_ofr_A            17000 non-null  float64
 34  min_time_ofr_B            17000 non-null  float64
 35  min_time_ofr_C            17000 non-null  float64
 36  min_time_ofr_D            17000 non-null  float64
 37  min_time_ofr_E            17000 non-null  float64
 38  min_time_ofr_F            17000 non-null  float64
 39  min_time_ofr_G            17000 non-null  float64
 40  min_time_ofr_H            17000 non-null  float64
 41  min_time_ofr_I            17000 non-null  float64
 42  min_time_ofr_J            17000 non-null  float64
 43  cnt_offer_completed       17000 non-null  float64
 44  cnt_offer_received        17000 non-null  float64
 45  cnt_offer_viewed          17000 non-null  float64
 46  cnt_transaction           17000 non-null  float64
 47  avg_time_offer_completed  17000 non-null  float64
 48  avg_time_offer_received   17000 non-null  float64
 49  avg_time_offer_viewed     17000 non-null  float64
 50  avg_time_transaction      17000 non-null  float64
 51  max_time_offer_completed  17000 non-null  float64
 52  max_time_offer_received   17000 non-null  float64
 53  max_time_offer_viewed     17000 non-null  float64
 54  max_time_transaction      17000 non-null  float64
 55  min_time_offer_completed  17000 non-null  float64
 56  min_time_offer_received   17000 non-null  float64
 57  min_time_offer_viewed     17000 non-null  float64
 58  min_time_transaction      17000 non-null  float64
 59  gender                    14825 non-null  object
 60  age                       17000 non-null  int64
 61  id                        17000 non-null  object
 62  became_member_on          17000 non-null  object
 63  income                    14825 non-null  float64
 64  bec_memb_year_month       17000 non-null  object
 65  age_group                 17000 non-null  object
dtypes: float64(58), int64(2), object(6)
memory usage: 8.6+ MB

In [7]:

transac_amount_features = pd.read_csv('medalion_data_store/silver/transac_amount_features.csv')
transac_amount_features.head()

,Unnamed: 0,tran_count,tran_amoun_tot,tran_amoun_mean,tran_amoun_max,tran_amoun_min,gender,age,id,became_member_on,income,bec_memb_year_month,age_group
0,0,8,127.6,16.0,28.2,8.6,M,33,0009655768c64bdeb2e877511632db8f,2017-04-21,72000.0,2017-04,Adult
1,1,3,4.1,1.4,3.2,0.2,NaN,118,00116118485d4dfda04fdbaba9a87b5c,2018-04-25,NaN,2018-04,Senior
2,2,5,79.5,15.9,23.0,9.0,O,40,0011e0d4e6b944f998e987f904e8c1e5,2018-01-09,57000.0,2018-01,Middle
3,3,8,196.9,24.6,33.9,17.2,F,59,0020c2b971eb4e9188eac86d93036a77,2016-03-04,90000.0,2016-03,Middle
4,4,12,154.0,12.8,20.1,6.8,F,24,0020ccbbb6d84e358d3414a3ff76cffd,2016-11-11,60000.0,2016-11,Young

In [9]:

person_activity_profile = pd.read_csv('medalion_data_store/gold/person_activity_profile.csv')
person_activity_profile.head()

,Unnamed: 0,person,ofr_id_short,tag,reward_offer_completed,cnt_offer_completed_x,cnt_offer_viewed_x,curiosity_vr,eagerness_cv,overall_cr,...,age,became_member_on,income,bec_memb_year_month,age_group,reward,channels,difficulty,duration,offer_type
0,0,0009655768c64bdeb2e877511632db8f,ofr_C,0,0.0,0.0,1.0,2.7,0.0,0.0,...,33,2017-04-21,72000.0,2017-04,Adult,0,"['web', 'email', 'mobile']",0,4,informational
1,1,0009655768c64bdeb2e877511632db8f,ofr_G,0,2.0,1.0,1.0,2.7,-1.0,4.0,...,33,2017-04-21,72000.0,2017-04,Adult,2,"['web', 'email', 'mobile', 'social']",10,10,discount
2,2,0009655768c64bdeb2e877511632db8f,ofr_H,0,0.0,0.0,1.0,4.0,0.0,0.0,...,33,2017-04-21,72000.0,2017-04,Adult,0,"['email', 'mobile', 'social']",0,3,informational
3,3,0009655768c64bdeb2e877511632db8f,ofr_I,0,5.0,1.0,1.0,2.0,-1.0,14.3,...,33,2017-04-21,72000.0,2017-04,Adult,5,"['web', 'email', 'mobile', 'social']",5,5,bogo
4,4,0009655768c64bdeb2e877511632db8f,ofr_J,0,2.0,1.0,0.0,0.0,-1.0,100.0,...,33,2017-04-21,72000.0,2017-04,Adult,2,"['web', 'email', 'mobile']",10,7,discount