# This notebook contais descriptions for the tables in the data store

In [1]:
import pandas as pd

In [5]:
portfolio = pd.read_csv('bronze/portfolio.csv')
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reward        10 non-null     int64
 1   channels      10 non-null     object
 2   difficulty    10 non-null     int64
 3   duration      10 non-null     int64
 4   offer_type    10 non-null     object
 5   id            10 non-null     object
 6   ofr_id_short  10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [6]:
profile = pd.read_csv('bronze/profile.csv')
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           17000 non-null  int64
 1   gender               14825 non-null  object
 2   age                  17000 non-null  int64
 3   id                   17000 non-null  object
 4   became_member_on     17000 non-null  object
 5   income               14825 non-null  float64
 6   bec_memb_year_month  17000 non-null  object
 7   age_group            17000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.0+ MB

In [33]:
profile

,Unnamed: 0,gender,age,id,became_member_on,income,bec_memb_year_month,age_group
0,0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,2017-02,Senior
1,1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,2017-07,Middle
2,2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,2018-07,Senior
3,3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,2017-05,Senior
4,4,NaN,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,2017-08,Senior
...,...,...,...,...,...,...,...,...
16995,16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,2018-06-04,54000.0,2018-06,Middle
16996,16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,2018-07-13,72000.0,2018-07,Senior
16997,16997,M,49,01d26f638c274aa0b965d24cefe3183f,2017-01-26,73000.0,2017-01,Middle
16998,16998,F,83,9dc1421481194dcd9400aec7c9ae6366,2016-03-07,50000.0,2016-03,Senior
16999,16999,F,62,e4052622e5ba45a8b96b59aba68cf068,2017-07-22,82000.0,2017-07,Senior

In [13]:
transcript_b = pd.read_csv('bronze/transcript_b.csv')
transcript_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        306534 non-null  object
 1   event         306534 non-null  object
 2   time          306534 non-null  int64
 3   amount        138953 non-null  float64
 4   reward        33579 non-null   float64
 5   ofr_id_short  306534 non-null  object
 6   tag           306534 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.4+ MB

In [14]:
events = pd.read_csv('bronze/events.csv')
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167581 entries, 0 to 167580
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        167581 non-null  object
 1   event         167581 non-null  object
 2   time          167581 non-null  int64
 3   reward        33579 non-null   float64
 4   ofr_id_short  167581 non-null  object
 5   tag           167581 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 7.7+ MB

In [15]:
transactions = pd.read_csv('bronze/transactions.csv')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138953 entries, 0 to 138952
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   person  138953 non-null  object
 1   event   138953 non-null  object
 2   time    138953 non-null  int64
 3   amount  138953 non-null  float64
 4   tag     138953 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.3+ MB

In [17]:
offer_rank = pd.read_csv('gold/offer_rank.csv')
offer_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ofr_id_short     10 non-null     object
 1   event_completed  8 non-null      float64
 2   event_received   10 non-null     float64
 3   event_viewed     10 non-null     float64
 4   completion_rate  8 non-null      float64
 5   viewed_rate      10 non-null     float64
dtypes: float64(5), object(1)
memory usage: 612.0+ bytes

In [32]:
user_item_event = pd.read_csv('gold/user_item_event.csv')
user_item_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person               76277 non-null  object
 1   ofr_id_short         76277 non-null  object
 2   tag                  76277 non-null  int64
 3   reward_completed     33579 non-null  float64
 4   cnt_completed        33579 non-null  float64
 5   cnt_received         76277 non-null  float64
 6   cnt_viewed           57725 non-null  float64
 7   curiosity_vr         76277 non-null  float64
 8   eagerness_cv         76277 non-null  float64
 9   overall_cr           76277 non-null  float64
 10  influence            76277 non-null  int64
 11  ext_influence        76277 non-null  int64
 12  gender               66501 non-null  object
 13  age                  76277 non-null  int64
 14  became_member_on     76277 non-null  object
 15  income               66501 non-null  float64
 16  bec_memb_year_month  76277 non-null  object
 17  age_group            76277 non-null  object
dtypes: float64(8), int64(4), object(6)
memory usage: 10.5+ MB

In [23]:
user_item_transactions = pd.read_csv('gold/user_item_transactions.csv')
user_item_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               14825 non-null  object
 1   age                  17000 non-null  int64
 2   id                   17000 non-null  object
 3   became_member_on     17000 non-null  object
 4   income               14825 non-null  float64
 5   bec_memb_year_month  17000 non-null  object
 6   age_group            17000 non-null  object
 7   cnt_completed_ofr_G  16994 non-null  float64
 8   cnt_completed_ofr_I  16994 non-null  float64
 9   cnt_completed_ofr_J  16994 non-null  float64
 10  cnt_received_ofr_C   16994 non-null  float64
 11  cnt_received_ofr_G   16994 non-null  float64
 12  cnt_received_ofr_H   16994 non-null  float64
 13  cnt_received_ofr_I   16994 non-null  float64
 14  cnt_received_ofr_J   16994 non-null  float64
 15  cnt_viewed_ofr_C     16994 non-null  float64
 16  cnt_viewed_ofr_G     16994 non-null  float64
 17  cnt_viewed_ofr_H     16994 non-null  float64
 18  cnt_viewed_ofr_I     16994 non-null  float64
 19  cnt_completed_ofr_D  16994 non-null  float64
 20  cnt_completed_ofr_E  16994 non-null  float64
 21  cnt_completed_ofr_F  16994 non-null  float64
 22  cnt_received_ofr_D   16994 non-null  float64
 23  cnt_received_ofr_E   16994 non-null  float64
 24  cnt_received_ofr_F   16994 non-null  float64
 25  cnt_viewed_ofr_D     16994 non-null  float64
 26  cnt_viewed_ofr_E     16994 non-null  float64
 27  cnt_viewed_ofr_F     16994 non-null  float64
 28  cnt_completed_ofr_B  16994 non-null  float64
 29  cnt_received_ofr_A   16994 non-null  float64
 30  cnt_received_ofr_B   16994 non-null  float64
 31  cnt_viewed_ofr_B     16994 non-null  float64
 32  cnt_completed_ofr_A  16994 non-null  float64
 33  cnt_viewed_ofr_A     16994 non-null  float64
 34  cnt_viewed_ofr_J     16994 non-null  float64
 35  cnt_transaction      16572 non-null  float64
 36  sum_transaction      16572 non-null  float64
dtypes: float64(31), int64(1), object(5)
memory usage: 4.8+ MB

In [28]:
user_item_time = pd.read_csv('silver/user_item_time.csv')
user_item_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 67 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                14825 non-null  object
 1   age                   17000 non-null  int64
 2   became_member_on      17000 non-null  object
 3   income                14825 non-null  float64
 4   bec_memb_year_month   17000 non-null  object
 5   age_group             17000 non-null  object
 6   person                17000 non-null  object
 7   cnt_ofr_A             17000 non-null  float64
 8   cnt_ofr_B             17000 non-null  float64
 9   cnt_ofr_C             17000 non-null  float64
 10  cnt_ofr_D             17000 non-null  float64
 11  cnt_ofr_E             17000 non-null  float64
 12  cnt_ofr_F             17000 non-null  float64
 13  cnt_ofr_G             17000 non-null  float64
 14  cnt_ofr_H             17000 non-null  float64
 15  cnt_ofr_I             17000 non-null  float64
 16  cnt_ofr_J             17000 non-null  float64
 17  cnt_tran              17000 non-null  float64
 18  avg_time_ofr_A        6374 non-null   float64
 19  avg_time_ofr_B        6330 non-null   float64
 20  avg_time_ofr_C        6331 non-null   float64
 21  avg_time_ofr_D        6355 non-null   float64
 22  avg_time_ofr_E        6374 non-null   float64
 23  avg_time_ofr_F        6325 non-null   float64
 24  avg_time_ofr_G        6332 non-null   float64
 25  avg_time_ofr_H        6320 non-null   float64
 26  avg_time_ofr_I        6262 non-null   float64
 27  avg_time_ofr_J        6285 non-null   float64
 28  avg_time_tran         16578 non-null  float64
 29  max_time_ofr_A        6374 non-null   float64
 30  max_time_ofr_B        6330 non-null   float64
 31  max_time_ofr_C        6331 non-null   float64
 32  max_time_ofr_D        6355 non-null   float64
 33  max_time_ofr_E        6374 non-null   float64
 34  max_time_ofr_F        6325 non-null   float64
 35  max_time_ofr_G        6332 non-null   float64
 36  max_time_ofr_H        6320 non-null   float64
 37  max_time_ofr_I        6262 non-null   float64
 38  max_time_ofr_J        6285 non-null   float64
 39  max_time_tran         16578 non-null  float64
 40  min_time_ofr_A        6374 non-null   float64
 41  min_time_ofr_B        6330 non-null   float64
 42  min_time_ofr_C        6331 non-null   float64
 43  min_time_ofr_D        6355 non-null   float64
 44  min_time_ofr_E        6374 non-null   float64
 45  min_time_ofr_F        6325 non-null   float64
 46  min_time_ofr_G        6332 non-null   float64
 47  min_time_ofr_H        6320 non-null   float64
 48  min_time_ofr_I        6262 non-null   float64
 49  min_time_ofr_J        6285 non-null   float64
 50  min_time_tran         16578 non-null  float64
 51  cnt_eve_completed     17000 non-null  float64
 52  cnt_eve_received      17000 non-null  float64
 53  cnt_eve_transaction   17000 non-null  float64
 54  cnt_eve_viewed        17000 non-null  float64
 55  avg_time_completed    12774 non-null  float64
 56  avg_time_received     16994 non-null  float64
 57  avg_time_transaction  16578 non-null  float64
 58  avg_time_viewed       16834 non-null  float64
 59  max_time_completed    12774 non-null  float64
 60  max_time_received     16994 non-null  float64
 61  max_time_transaction  16578 non-null  float64
 62  max_time_viewed       16834 non-null  float64
 63  min_time_completed    12774 non-null  float64
 64  min_time_received     16994 non-null  float64
 65  min_time_transaction  16578 non-null  float64
 66  min_time_viewed       16834 non-null  float64
dtypes: float64(61), int64(1), object(5)
memory usage: 8.7+ MB

In [29]:
offer_event_summary = pd.read_csv('silver/offer_event_summary.csv')
offer_event_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ofr_id_short         10 non-null     object
 1   cnt_completed        10 non-null     float64
 2   cnt_received         10 non-null     float64
 3   cnt_viewed           10 non-null     float64
 4   mean_time_completed  8 non-null      float64
 5   mean_time_received   10 non-null     float64
 6   mean_time_viewed     10 non-null     float64
 7   max_time_completed   8 non-null      float64
 8   max_time_received    10 non-null     float64
 9   max_time_viewed      10 non-null     float64
 10  min_time_completed   8 non-null      float64
 11  min_time_received    10 non-null     float64
 12  min_time_viewed      10 non-null     float64
dtypes: float64(12), object(1)
memory usage: 1.1+ KB

In [36]:
person_transaction_summary = pd.read_csv('silver/person_transaction_summary.csv')
person_transaction_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   person           16578 non-null  object
 1   tran_count       16578 non-null  int64
 2   tran_amoun_tot   16578 non-null  float64
 3   tran_amoun_mean  16578 non-null  float64
 4   tran_amoun_max   16578 non-null  float64
 5   tran_amoun_min   16578 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 777.2+ KB

In [42]:
churn_table = pd.read_csv('gold/churn_table.csv')
churn_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               14825 non-null  object
 1   age                  17000 non-null  int64
 2   id                   17000 non-null  object
 3   became_member_on     17000 non-null  object
 4   income               14825 non-null  float64
 5   bec_memb_year_month  17000 non-null  object
 6   age_group            17000 non-null  object
 7   period_1             16578 non-null  float64
 8   period_2             16578 non-null  float64
 9   period_3             16578 non-null  float64
 10  period_4             16578 non-null  float64
 11  period_5             16578 non-null  float64
 12  period_6             16578 non-null  float64
 13  period_7             16578 non-null  float64
 14  period_8             16578 non-null  float64
 15  period_9             16578 non-null  float64
 16  period_10            16578 non-null  float64
 17  period_11            16578 non-null  float64
 18  period_12            16578 non-null  float64
 19  period_13            16578 non-null  float64
 20  period_14            16578 non-null  float64
 21  period_15            16578 non-null  float64
 22  period_16            16578 non-null  float64
 23  period_17            16578 non-null  float64
 24  period_18            16578 non-null  float64
 25  period_19            16578 non-null  float64
 26  period_20            16578 non-null  float64
 27  recency              16578 non-null  float64
 28  amount               16578 non-null  float64
 29  churn                16578 non-null  float64
 30  churn2               16578 non-null  float64
dtypes: float64(25), int64(1), object(5)
memory usage: 4.0+ MB