# This notebook contais descriptions for the tables in the data store

In [43]:
import pandas as pd

In [44]:
portfolio = pd.read_csv('bronze/portfolio.csv')
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reward        10 non-null     int64
 1   channels      10 non-null     object
 2   difficulty    10 non-null     int64
 3   duration      10 non-null     int64
 4   offer_type    10 non-null     object
 5   id            10 non-null     object
 6   ofr_id_short  10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [45]:
profile = pd.read_csv('bronze/profile.csv')
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           17000 non-null  int64
 1   gender               14825 non-null  object
 2   age                  17000 non-null  int64
 3   id                   17000 non-null  object
 4   became_member_on     17000 non-null  object
 5   income               14825 non-null  float64
 6   bec_memb_year_month  17000 non-null  object
 7   age_group            17000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.0+ MB

In [46]:
profile

,Unnamed: 0,gender,age,id,became_member_on,income,bec_memb_year_month,age_group
0,0,NaN,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,2017-02,Senior
1,1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,2017-07,Middle
2,2,NaN,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,2018-07,Senior
3,3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,2017-05,Senior
4,4,NaN,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,2017-08,Senior
...,...,...,...,...,...,...,...,...
16995,16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,2018-06-04,54000.0,2018-06,Middle
16996,16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,2018-07-13,72000.0,2018-07,Senior
16997,16997,M,49,01d26f638c274aa0b965d24cefe3183f,2017-01-26,73000.0,2017-01,Middle
16998,16998,F,83,9dc1421481194dcd9400aec7c9ae6366,2016-03-07,50000.0,2016-03,Senior
16999,16999,F,62,e4052622e5ba45a8b96b59aba68cf068,2017-07-22,82000.0,2017-07,Senior

In [47]:
transcript_b = pd.read_csv('bronze/transcript_b.csv')
transcript_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        306534 non-null  object
 1   event         306534 non-null  object
 2   time          306534 non-null  int64
 3   amount        138953 non-null  float64
 4   reward        33579 non-null   float64
 5   ofr_id_short  306534 non-null  object
 6   tag           306534 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.4+ MB

In [48]:
events = pd.read_csv('bronze/events.csv')
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167581 entries, 0 to 167580
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        167581 non-null  object
 1   event         167581 non-null  object
 2   time          167581 non-null  int64
 3   reward        33579 non-null   float64
 4   ofr_id_short  167581 non-null  object
 5   tag           167581 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 7.7+ MB

In [49]:
transactions = pd.read_csv('bronze/transactions.csv')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138953 entries, 0 to 138952
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   person  138953 non-null  object
 1   event   138953 non-null  object
 2   time    138953 non-null  int64
 3   amount  138953 non-null  float64
 4   tag     138953 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.3+ MB

In [50]:
offer_rank = pd.read_csv('silver/offer_rank.csv')
offer_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ofr_id_short     10 non-null     object
 1   cnt_completed    10 non-null     float64
 2   cnt_received     10 non-null     float64
 3   cnt_viewed       10 non-null     float64
 4   completion_rate  10 non-null     float64
 5   viewed_rate      10 non-null     float64
dtypes: float64(5), object(1)
memory usage: 612.0+ bytes

In [51]:
user_item_events = pd.read_csv('silver/user_item_events.csv')
user_item_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63288 entries, 0 to 63287
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   person           63288 non-null  object
 1   ofr_id_short     63288 non-null  object
 2   cnt_eve          63288 non-null  int64
 3   sum_rew_eve      63288 non-null  float64
 4   mean_rew_eve     63288 non-null  float64
 5   median_rew_eve   63288 non-null  float64
 6   min_rew_eve      63288 non-null  float64
 7   max_rew_eve      63288 non-null  float64
 8   range_rew_eve    63288 non-null  float64
 9   mean_t_eve       63288 non-null  float64
 10  median_t_eve     63288 non-null  float64
 11  min_t_eve        63288 non-null  int64
 12  max_t_eve        63288 non-null  int64
 13  range_t_eve      63288 non-null  int64
 14  freq_eve         63288 non-null  float64
 15  last_to_end_eve  63288 non-null  int64
dtypes: float64(9), int64(5), object(2)
memory usage: 7.7+ MB

In [52]:
user_item_transactions = pd.read_csv('silver/user_item_transactions.csv')
user_item_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person             16578 non-null  object
 1   cnt_tran           16578 non-null  int64
 2   sum_am_tran        16578 non-null  float64
 3   mean_am_tran       16578 non-null  float64
 4   median_am_tran     16578 non-null  float64
 5   min_am_tran        16578 non-null  float64
 6   max_am_tran        16578 non-null  float64
 7   range_amount_tran  16578 non-null  float64
 8   mean_t_tran        16578 non-null  float64
 9   median_t_tran      16578 non-null  float64
 10  min_t_tran         16578 non-null  int64
 11  max_t_tran         16578 non-null  int64
 12  range_t_tran       16578 non-null  int64
 13  freq_tran          16578 non-null  float64
 14  last_to_end_tran   16578 non-null  int64
dtypes: float64(9), int64(5), object(1)
memory usage: 1.9+ MB

In [53]:
user_item_u_event = pd.read_csv('silver/user_item_u_event.csv')
user_item_u_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   person         76277 non-null  object
 1   ofr_id_short   76277 non-null  object
 2   tag            76277 non-null  int64
 3   cnt_completed  76277 non-null  float64
 4   cnt_received   76277 non-null  float64
 5   cnt_viewed     76277 non-null  float64
 6   stage          76277 non-null  float64
 7   curiosity_vr   76277 non-null  float64
 8   eagerness_cv   76277 non-null  float64
 9   overall_cr     76277 non-null  float64
 10  influence      76277 non-null  int64
 11  ext_influence  76277 non-null  int64
dtypes: float64(7), int64(3), object(2)
memory usage: 7.0+ MB

In [55]:
transactions_time = pd.read_csv('silver/transactions_time.csv')
transactions_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person     16578 non-null  object
 1   period_1   16578 non-null  float64
 2   period_2   16578 non-null  float64
 3   period_3   16578 non-null  float64
 4   period_4   16578 non-null  float64
 5   period_5   16578 non-null  float64
 6   period_6   16578 non-null  float64
 7   period_7   16578 non-null  float64
 8   period_8   16578 non-null  float64
 9   period_9   16578 non-null  float64
 10  period_10  16578 non-null  float64
 11  period_11  16578 non-null  float64
 12  period_12  16578 non-null  float64
 13  period_13  16578 non-null  float64
 14  period_14  16578 non-null  float64
 15  period_15  16578 non-null  float64
 16  period_16  16578 non-null  float64
 17  period_17  16578 non-null  float64
 18  period_18  16578 non-null  float64
 19  period_19  16578 non-null  float64
 20  period_20  16578 non-null  float64
 21  recency    16578 non-null  int64
 22  churn      16578 non-null  int64
 23  churn2     16578 non-null  int64
dtypes: float64(20), int64(3), object(1)
memory usage: 3.0+ MB

In [56]:
analytical_table = pd.read_csv('gold/analytical_table.csv')
analytical_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person               76277 non-null  object
 1   ofr_id_short         76277 non-null  object
 2   tag                  76277 non-null  int64
 3   cnt_completed        76277 non-null  float64
 4   cnt_received         76277 non-null  float64
 5   cnt_viewed           76277 non-null  float64
 6   stage                76277 non-null  float64
 7   curiosity_vr         76277 non-null  float64
 8   eagerness_cv         76277 non-null  float64
 9   overall_cr           76277 non-null  float64
 10  influence            76277 non-null  int64
 11  ext_influence        76277 non-null  int64
 12  gender               66501 non-null  object
 13  age                  76277 non-null  int64
 14  became_member_on     76277 non-null  object
 15  income               66501 non-null  float64
 16  bec_memb_year_month  76277 non-null  object
 17  age_group            76277 non-null  object
 18  cnt_eve              76277 non-null  int64
 19  sum_rew_eve          76277 non-null  float64
 20  mean_rew_eve         76277 non-null  float64
 21  median_rew_eve       76277 non-null  float64
 22  min_rew_eve          76277 non-null  float64
 23  max_rew_eve          76277 non-null  float64
 24  range_rew_eve        76277 non-null  float64
 25  mean_t_eve           76277 non-null  float64
 26  median_t_eve         76277 non-null  float64
 27  min_t_eve            76277 non-null  int64
 28  max_t_eve            76277 non-null  int64
 29  range_t_eve          76277 non-null  int64
 30  freq_eve             76277 non-null  float64
 31  last_to_end_eve      76277 non-null  int64
 32  cnt_tran             74396 non-null  float64
 33  sum_am_tran          74396 non-null  float64
 34  mean_am_tran         74396 non-null  float64
 35  median_am_tran       74396 non-null  float64
 36  min_am_tran          74396 non-null  float64
 37  max_am_tran          74396 non-null  float64
 38  range_amount_tran    74396 non-null  float64
 39  mean_t_tran          74396 non-null  float64
 40  median_t_tran        74396 non-null  float64
 41  min_t_tran           74396 non-null  float64
 42  max_t_tran           74396 non-null  float64
 43  range_t_tran         74396 non-null  float64
 44  freq_tran            74396 non-null  float64
 45  last_to_end_tran     74396 non-null  float64
 46  period_1             74396 non-null  float64
 47  period_2             74396 non-null  float64
 48  period_3             74396 non-null  float64
 49  period_4             74396 non-null  float64
 50  period_5             74396 non-null  float64
 51  period_6             74396 non-null  float64
 52  period_7             74396 non-null  float64
 53  period_8             74396 non-null  float64
 54  period_9             74396 non-null  float64
 55  period_10            74396 non-null  float64
 56  period_11            74396 non-null  float64
 57  period_12            74396 non-null  float64
 58  period_13            74396 non-null  float64
 59  period_14            74396 non-null  float64
 60  period_15            74396 non-null  float64
 61  period_16            74396 non-null  float64
 62  period_17            74396 non-null  float64
 63  period_18            74396 non-null  float64
 64  period_19            74396 non-null  float64
 65  period_20            74396 non-null  float64
 66  recency              74396 non-null  float64
 67  churn                74396 non-null  float64
 68  churn2               74396 non-null  float64
dtypes: float64(54), int64(9), object(6)
memory usage: 40.2+ MB