# This notebook contais .info() for the tables in the data store

In [29]:
import os
import pandas as pd

In [30]:
def load_csv_files(folder_path):
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    
    dataframes = {}
    
    for file in csv_files:
        file_path = os.path.join(folder_path, file)
        df_name = os.path.splitext(file)[0]  # Remove .csv extension
        dataframes[df_name] = pd.read_csv(file_path)
        
        print(f"\nDataFrame: {df_name}")
        print(dataframes[df_name].info())  # Print DataFrame info
        display(dataframes[df_name])  # Print DataFrame content
    
    return dataframes  # Return a dictionary of DataFrames

In [31]:
folder_path = '../medalion_data_store/bronze'  # Change this to the actual folder path
df_dict = load_csv_files(folder_path)

DataFrame: events
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167581 entries, 0 to 167580
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        167581 non-null  object
 1   event         167581 non-null  object
 2   time          167581 non-null  int64
 3   reward        33579 non-null   float64
 4   ofr_id_short  167581 non-null  object
 5   tag           167581 non-null  int64
 6   time_diff     120979 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 8.9+ MB
None

,person,event,time,reward,ofr_id_short,tag,time_diff
0,0009655768c64bdeb2e877511632db8f,received,168,NaN,ofr_H,0,NaN
1,0009655768c64bdeb2e877511632db8f,viewed,192,NaN,ofr_H,0,NaN
2,0009655768c64bdeb2e877511632db8f,received,336,NaN,ofr_C,0,168.0
3,0009655768c64bdeb2e877511632db8f,viewed,372,NaN,ofr_C,0,180.0
4,0009655768c64bdeb2e877511632db8f,received,408,NaN,ofr_I,0,72.0
...,...,...,...,...,...,...,...
167576,ffff82501cea40309d5fdd7edcca4a07,completed,504,5.0,ofr_D,0,90.0
167577,ffff82501cea40309d5fdd7edcca4a07,viewed,534,NaN,ofr_D,0,120.0
167578,ffff82501cea40309d5fdd7edcca4a07,received,576,NaN,ofr_J,2,72.0
167579,ffff82501cea40309d5fdd7edcca4a07,completed,576,2.0,ofr_J,2,72.0
167580,ffff82501cea40309d5fdd7edcca4a07,viewed,582,NaN,ofr_J,2,48.0

DataFrame: portfolio
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reward        10 non-null     int64
 1   channels      10 non-null     object
 2   difficulty    10 non-null     int64
 3   duration      10 non-null     int64
 4   offer_type    10 non-null     object
 5   ofr_id_short  10 non-null     object
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes
None

,reward,channels,difficulty,duration,offer_type,ofr_id_short
0,10,"['email', 'mobile', 'social']",10,7,bogo,ofr_A
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,ofr_B
2,0,"['web', 'email', 'mobile']",0,4,informational,ofr_C
3,5,"['web', 'email', 'mobile']",5,7,bogo,ofr_D
4,5,"['web', 'email']",20,10,discount,ofr_E
5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,ofr_F
6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,ofr_G
7,0,"['email', 'mobile', 'social']",0,3,informational,ofr_H
8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,ofr_I
9,2,"['web', 'email', 'mobile']",10,7,discount,ofr_J

DataFrame: profile
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               17000 non-null  object
 1   age                  17000 non-null  int64
 2   id                   17000 non-null  object
 3   became_member_on     17000 non-null  object
 4   income               14825 non-null  float64
 5   bec_memb_year_month  17000 non-null  object
 6   age_group            17000 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 929.8+ KB
None

,gender,age,id,became_member_on,income,bec_memb_year_month,age_group
0,gen_ukn,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,2017-02,Senior
1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,2017-07,Middle
2,gen_ukn,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,2018-07,Senior
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,2017-05,Senior
4,gen_ukn,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,2017-08,Senior
...,...,...,...,...,...,...,...
16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,2018-06-04,54000.0,2018-06,Adult
16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,2018-07-13,72000.0,2018-07,Middle
16997,M,49,01d26f638c274aa0b965d24cefe3183f,2017-01-26,73000.0,2017-01,Middle
16998,F,83,9dc1421481194dcd9400aec7c9ae6366,2016-03-07,50000.0,2016-03,Senior
16999,F,62,e4052622e5ba45a8b96b59aba68cf068,2017-07-22,82000.0,2017-07,Middle

DataFrame: transactions
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138953 entries, 0 to 138952
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   person     138953 non-null  object
 1   time       138953 non-null  int64
 2   amount     138953 non-null  float64
 3   tag        138953 non-null  int64
 4   time_diff  122375 non-null  float64
 5   week       138953 non-null  float64
 6   day        138953 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 7.4+ MB
None

,person,time,amount,tag,time_diff,week,day
0,0009655768c64bdeb2e877511632db8f,228,22.16,0,NaN,2.0,10.0
1,0009655768c64bdeb2e877511632db8f,414,8.57,1,186.0,3.0,18.0
2,0009655768c64bdeb2e877511632db8f,528,14.11,2,114.0,4.0,22.0
3,0009655768c64bdeb2e877511632db8f,552,13.56,3,24.0,4.0,23.0
4,0009655768c64bdeb2e877511632db8f,576,10.27,4,24.0,4.0,24.0
...,...,...,...,...,...,...,...
138948,ffff82501cea40309d5fdd7edcca4a07,498,13.17,10,84.0,3.0,21.0
138949,ffff82501cea40309d5fdd7edcca4a07,504,7.79,11,6.0,3.0,21.0
138950,ffff82501cea40309d5fdd7edcca4a07,576,14.23,12,72.0,4.0,24.0
138951,ffff82501cea40309d5fdd7edcca4a07,606,10.12,13,30.0,4.0,26.0
138952,ffff82501cea40309d5fdd7edcca4a07,648,18.91,14,42.0,4.0,27.0

DataFrame: transcript_b
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        306534 non-null  object
 1   event         306534 non-null  object
 2   time          306534 non-null  int64
 3   amount        138953 non-null  float64
 4   reward        33579 non-null   float64
 5   ofr_id_short  306534 non-null  object
 6   tag           306534 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.4+ MB
None

,person,event,time,amount,reward,ofr_id_short,tag
0,78afa995795e4d85b5d9ceeca43f5fef,received,0,NaN,NaN,ofr_D,0
1,a03223e636434f42ac4c3df47e8bac43,received,0,NaN,NaN,ofr_E,0
2,e2127556f4f64592b11af22de27a7932,received,0,NaN,NaN,ofr_J,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,received,0,NaN,NaN,ofr_G,0
4,68617ca6246f4fbc85e91a2a49552598,received,0,NaN,NaN,ofr_B,0
...,...,...,...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,714,1.59,NaN,tran,13
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,714,9.53,NaN,tran,1
306531,a00058cf10334a308c68e7631c529907,transaction,714,3.61,NaN,tran,19
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,714,3.53,NaN,tran,12
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,714,4.05,NaN,tran,7

In [32]:
folder_path = '../medalion_data_store/silver'  # Change this to the actual folder path
df_dict = load_csv_files(folder_path)

DataFrame: offer_event_time
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ofr_id_short         10 non-null     object
 1   offer_type           10 non-null     object
 2   difficulty           10 non-null     int64
 3   cnt_completed        10 non-null     float64
 4   cnt_received         10 non-null     float64
 5   cnt_viewed           10 non-null     float64
 6   time_mean_completed  8 non-null      float64
 7   time_mean_received   10 non-null     float64
 8   time_mean_viewed     10 non-null     float64
 9   comp_ratio           8 non-null      float64
 10  view_ratio           10 non-null     float64
 11  comp-vie-intensity   8 non-null      float64
dtypes: float64(9), int64(1), object(2)
memory usage: 1.1+ KB
None

,ofr_id_short,offer_type,difficulty,cnt_completed,cnt_received,cnt_viewed,time_mean_completed,time_mean_received,time_mean_viewed,comp_ratio,view_ratio,comp-vie-intensity
0,ofr_A,bogo,10,3688.0,7658.0,6716.0,394.767,329.760,352.622,0.482,0.877,0.549
1,ofr_B,bogo,10,3331.0,7593.0,7298.0,385.722,335.153,353.119,0.439,0.961,0.456
2,ofr_C,informational,0,0.0,7617.0,4144.0,NaN,331.885,358.639,NaN,0.544,NaN
3,ofr_D,bogo,5,4354.0,7677.0,4171.0,407.051,334.146,361.977,0.567,0.543,1.044
4,ofr_E,discount,20,3420.0,7668.0,2663.0,431.549,331.336,366.748,0.446,0.347,1.284
5,ofr_F,discount,7,5156.0,7646.0,7337.0,400.318,336.377,354.750,0.674,0.960,0.703
6,ofr_G,discount,10,5317.0,7597.0,7327.0,399.117,330.487,348.868,0.700,0.964,0.726
7,ofr_H,informational,0,0.0,7618.0,6687.0,NaN,332.475,353.934,NaN,0.878,NaN
8,ofr_I,bogo,5,4296.0,7571.0,7264.0,382.936,332.171,349.797,0.567,0.959,0.591
9,ofr_J,discount,10,4017.0,7632.0,4118.0,409.952,332.003,356.204,0.526,0.540,0.975

DataFrame: person_event_time
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66501 entries, 0 to 66500
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   person         66501 non-null  object
 1   gender         66501 non-null  object
 2   age_group      66501 non-null  object
 3   ofr_id_short   66501 non-null  object
 4   cnt_completed  66501 non-null  float64
 5   cnt_received   66501 non-null  float64
 6   cnt_viewed     66501 non-null  float64
 7   t_completed    66501 non-null  float64
 8   t_received     66501 non-null  float64
 9   t_viewed       66501 non-null  float64
 10  stage          66501 non-null  float64
 11  to_vr          66501 non-null  float64
 12  to_cv          55383 non-null  float64
 13  to_cr          66501 non-null  float64
 14  curiosity_vr   66501 non-null  float64
 15  eagerness_cv   66501 non-null  float64
 16  overall_cr     66501 non-null  float64
 17  influence      66501 non-null  int64
 18  ext_influence  66501 non-null  int64
dtypes: float64(13), int64(2), object(4)
memory usage: 9.6+ MB
None

,person,gender,age_group,ofr_id_short,cnt_completed,cnt_received,cnt_viewed,t_completed,t_received,t_viewed,stage,to_vr,to_cv,to_cr,curiosity_vr,eagerness_cv,overall_cr,influence,ext_influence
0,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_C,0.0,1.0,1.0,inf,336.0,372.0,2.0,36.0,inf,inf,0.106,0.000,0.000,0,0
1,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_G,1.0,1.0,1.0,528.0,504.0,540.0,3.0,36.0,-12.0,24.0,0.106,1.446,0.256,0,0
2,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_H,0.0,1.0,1.0,inf,168.0,192.0,2.0,24.0,inf,inf,0.256,0.000,0.000,0,0
3,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_I,1.0,1.0,1.0,414.0,408.0,456.0,3.0,48.0,-42.0,6.0,0.042,1.933,0.765,0,0
4,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_J,1.0,1.0,0.0,576.0,576.0,inf,2.0,inf,-inf,0.0,0.000,2.000,1.000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66496,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_E,1.0,1.0,1.0,198.0,168.0,174.0,3.0,6.0,24.0,30.0,0.765,0.256,0.166,1,0
66497,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_G,1.0,1.0,1.0,60.0,0.0,6.0,3.0,6.0,54.0,60.0,0.765,0.026,0.016,1,0
66498,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,384.0,336.0,354.0,3.0,18.0,30.0,48.0,0.383,0.166,0.042,1,0
66499,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,414.0,408.0,414.0,3.0,6.0,0.0,6.0,0.765,1.000,0.765,0,1
66500,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,576.0,576.0,582.0,3.0,6.0,-6.0,0.0,0.765,1.235,1.000,0,0

DataFrame: sorted_offers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16994 entries, 0 to 16993
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   16994 non-null  int64
 1   person                  16994 non-null  object
 2   ofr_id_short_completed  16994 non-null  object
 3   ofr_id_short_received   16994 non-null  object
 4   ofr_id_short_viewed     16994 non-null  object
 5   first_completed         16994 non-null  object
 6   last_completed          16994 non-null  object
dtypes: int64(1), object(6)
memory usage: 929.5+ KB
None

,index,person,ofr_id_short_completed,ofr_id_short_received,ofr_id_short_viewed,first_completed,last_completed
0,0,0009655768c64bdeb2e877511632db8f,ofr_I > ofr_G > ofr_J,ofr_H > ofr_C > ofr_I > ofr_G > ofr_J,ofr_H > ofr_C > ofr_I > ofr_G,ofr_I,ofr_J
1,1,00116118485d4dfda04fdbaba9a87b5c,no_ofr_comp,ofr_I > ofr_I,ofr_I > ofr_I,no_ofr_comp,no_ofr_comp
2,2,0011e0d4e6b944f998e987f904e8c1e5,ofr_F > ofr_E > ofr_D,ofr_C > ofr_F > ofr_H > ofr_E > ofr_D,ofr_C > ofr_F > ofr_H > ofr_E > ofr_D,ofr_F,ofr_D
3,3,0020c2b971eb4e9188eac86d93036a77,ofr_G > ofr_G > ofr_B,ofr_G > ofr_A > ofr_G > ofr_B > ofr_H,ofr_G > ofr_B > ofr_H,ofr_G,ofr_B
4,4,0020ccbbb6d84e358d3414a3ff76cffd,ofr_F > ofr_I > ofr_D,ofr_F > ofr_I > ofr_H > ofr_D,ofr_F > ofr_I > ofr_H > ofr_D,ofr_F,ofr_D
...,...,...,...,...,...,...,...
16989,16989,fff3ba4757bd42088c044ca26d73817a,ofr_G > ofr_D > ofr_J,ofr_G > ofr_D > ofr_H > ofr_J > ofr_H > ofr_J,ofr_G > ofr_D > ofr_H,ofr_G,ofr_J
16990,16990,fff7576017104bcc8677a8d63322b5e1,ofr_G > ofr_G > ofr_D,ofr_G > ofr_B > ofr_A > ofr_G > ofr_D,ofr_G > ofr_B > ofr_A > ofr_G,ofr_G,ofr_D
16991,16991,fff8957ea8b240a6b5e634b6ee8eafcf,no_ofr_comp,ofr_G > ofr_C > ofr_B,ofr_G > ofr_B,no_ofr_comp,no_ofr_comp
16992,16992,fffad4f4828548d1b5583907f2e9906b,ofr_I > ofr_I > ofr_D,ofr_I > ofr_H > ofr_I > ofr_D,ofr_I > ofr_H > ofr_I > ofr_D,ofr_I,ofr_D
16993,16993,ffff82501cea40309d5fdd7edcca4a07,ofr_G > ofr_E > ofr_J > ofr_J > ofr_D > ofr_J,ofr_G > ofr_E > ofr_J > ofr_J > ofr_D > ofr_J,ofr_G > ofr_E > ofr_J > ofr_J > ofr_D > ofr_J,ofr_G,ofr_J

DataFrame: user_transactions
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   person                  16578 non-null  object
 1   cnt_tran                16578 non-null  int64
 2   sum_am_tran             16578 non-null  float64
 3   mean_am_tran            16578 non-null  float64
 4   median_am_tran          16578 non-null  float64
 5   min_am_tran             16578 non-null  float64
 6   max_am_tran             16578 non-null  float64
 7   small_tran_count        16578 non-null  int64
 8   big_tran_count          16578 non-null  int64
 9   range_amount_tran       16578 non-null  float64
 10  mean_t_tran             16578 non-null  float64
 11  median_t_tran           16578 non-null  float64
 12  min_t_tran              16578 non-null  int64
 13  max_t_tran              16578 non-null  int64
 14  range_t_tran            16578 non-null  int64
 15  freq_tran               16578 non-null  float64
 16  recency_tran            16578 non-null  float64
 17  max_to_sum_am_tran      16578 non-null  float64
 18  median_to_mean_am_tran  16578 non-null  float64
 19  weekly_tran_mean        16578 non-null  float64
 20  weekly_tran_min         16578 non-null  int64
 21  weekly_tran_max         16578 non-null  int64
dtypes: float64(13), int64(8), object(1)
memory usage: 2.8+ MB
None

,person,cnt_tran,sum_am_tran,mean_am_tran,median_am_tran,min_am_tran,max_am_tran,small_tran_count,big_tran_count,range_amount_tran,...,min_t_tran,max_t_tran,range_t_tran,freq_tran,recency_tran,max_to_sum_am_tran,median_to_mean_am_tran,weekly_tran_mean,weekly_tran_min,weekly_tran_max
0,0009655768c64bdeb2e877511632db8f,8,127.60,15.95,13.84,8.57,28.16,2,2,19.59,...,228,696,468,1.71,713.03,0.220690,0.867712,2.000000,1,4
1,00116118485d4dfda04fdbaba9a87b5c,3,4.09,1.36,0.70,0.20,3.19,1,1,2.99,...,294,474,180,1.67,713.34,0.779951,0.514706,1.500000,1,2
2,0011e0d4e6b944f998e987f904e8c1e5,5,79.46,15.89,13.49,8.96,23.03,1,1,14.07,...,132,654,522,0.96,713.08,0.289831,0.848962,1.666667,1,3
3,0020c2b971eb4e9188eac86d93036a77,8,196.86,24.61,24.35,17.24,33.86,2,2,16.62,...,54,708,654,1.22,713.01,0.172000,0.989435,2.666667,2,4
4,0020ccbbb6d84e358d3414a3ff76cffd,12,154.05,12.84,12.76,6.81,20.08,3,3,13.27,...,42,672,630,1.90,713.06,0.130347,0.993769,3.000000,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16573,fff3ba4757bd42088c044ca26d73817a,11,580.98,52.82,20.98,10.99,388.22,3,3,377.23,...,6,552,546,2.01,713.23,0.668216,0.397198,3.666667,3,5
16574,fff7576017104bcc8677a8d63322b5e1,6,29.94,4.99,5.03,2.08,8.01,2,2,5.93,...,36,696,660,0.91,713.03,0.267535,1.008016,1.500000,1,2
16575,fff8957ea8b240a6b5e634b6ee8eafcf,5,12.15,2.43,0.89,0.64,6.39,1,1,5.75,...,18,576,558,0.90,713.19,0.525926,0.366255,1.666667,1,3
16576,fffad4f4828548d1b5583907f2e9906b,12,88.83,7.40,7.52,2.05,12.18,3,3,10.13,...,36,678,642,1.87,713.05,0.137116,1.016216,2.400000,1,4
16577,ffff82501cea40309d5fdd7edcca4a07,15,226.07,15.07,15.57,7.18,23.32,4,4,16.14,...,60,648,588,2.55,713.09,0.103154,1.033179,3.750000,3,5

DataFrame: user_transactions_time
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person     16578 non-null  object
 1   period_30  16578 non-null  float64
 2   period_29  16578 non-null  float64
 3   period_28  16578 non-null  float64
 4   period_27  16578 non-null  float64
 5   period_26  16578 non-null  float64
 6   period_25  16578 non-null  float64
 7   period_24  16578 non-null  float64
 8   period_23  16578 non-null  float64
 9   period_22  16578 non-null  float64
 10  period_21  16578 non-null  float64
 11  period_20  16578 non-null  float64
 12  period_19  16578 non-null  float64
 13  period_18  16578 non-null  float64
 14  period_17  16578 non-null  float64
 15  period_16  16578 non-null  float64
 16  period_15  16578 non-null  float64
 17  period_14  16578 non-null  float64
 18  period_13  16578 non-null  float64
 19  period_12  16578 non-null  float64
 20  period_11  16578 non-null  float64
 21  period_10  16578 non-null  float64
 22  period_9   16578 non-null  float64
 23  period_8   16578 non-null  float64
 24  period_7   16578 non-null  float64
 25  period_6   16578 non-null  float64
 26  period_5   16578 non-null  float64
 27  period_4   16578 non-null  float64
 28  period_3   16578 non-null  float64
 29  period_2   16578 non-null  float64
 30  period_1   16578 non-null  float64
 31  recency    16578 non-null  int64
 32  churn      16578 non-null  int64
 33  churn2     16578 non-null  int64
dtypes: float64(30), int64(3), object(1)
memory usage: 4.3+ MB
None

,person,period_30,period_29,period_28,period_27,period_26,period_25,period_24,period_23,period_22,...,period_7,period_6,period_5,period_4,period_3,period_2,period_1,recency,churn,churn2
0,0009655768c64bdeb2e877511632db8f,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,4.0,3.0,3.0,3.0,3.0,2.0,0.0,18,0,0
1,00116118485d4dfda04fdbaba9a87b5c,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,240,1,0
2,0011e0d4e6b944f998e987f904e8c1e5,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,...,3.0,2.0,2.0,2.0,1.0,0.0,0.0,60,0,0
3,0020c2b971eb4e9188eac86d93036a77,8.0,8.0,8.0,5.0,5.0,5.0,4.0,4.0,4.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,6,0,0
4,0020ccbbb6d84e358d3414a3ff76cffd,12.0,12.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,...,2.0,2.0,1.0,1.0,1.0,0.0,0.0,42,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16573,fff3ba4757bd42088c044ca26d73817a,11.0,9.0,9.0,8.0,7.0,7.0,7.0,6.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,162,0,0
16574,fff7576017104bcc8677a8d63322b5e1,6.0,6.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,3.0,2.0,1.0,1.0,1.0,1.0,0.0,18,0,0
16575,fff8957ea8b240a6b5e634b6ee8eafcf,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,138,0,0
16576,fffad4f4828548d1b5583907f2e9906b,12.0,12.0,11.0,10.0,9.0,8.0,8.0,8.0,8.0,...,3.0,2.0,1.0,1.0,1.0,1.0,0.0,36,0,0
16577,ffff82501cea40309d5fdd7edcca4a07,15.0,15.0,15.0,14.0,13.0,12.0,12.0,12.0,12.0,...,3.0,2.0,2.0,1.0,0.0,0.0,0.0,66,0,0

In [33]:
# Example usage
folder_path = '../medalion_data_store/gold'  # Change this to the actual folder path
df_dict = load_csv_files(folder_path)

DataFrame: user_event_transactions
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66501 entries, 0 to 66500
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   person                  66501 non-null  object
 1   gender                  66501 non-null  object
 2   age_group               66501 non-null  object
 3   ofr_id_short            66501 non-null  object
 4   cnt_completed           66501 non-null  float64
 5   cnt_received            66501 non-null  float64
 6   cnt_viewed              66501 non-null  float64
 7   curiosity_vr            66501 non-null  float64
 8   eagerness_cv            66501 non-null  float64
 9   overall_cr              66501 non-null  float64
 10  influence               66501 non-null  int64
 11  ext_influence           66501 non-null  int64
 12  cnt_tran                65020 non-null  float64
 13  sum_am_tran             65020 non-null  float64
 14  mean_am_tran            65020 non-null  float64
 15  median_am_tran          65020 non-null  float64
 16  min_am_tran             65020 non-null  float64
 17  max_am_tran             65020 non-null  float64
 18  small_tran_count        65020 non-null  float64
 19  big_tran_count          65020 non-null  float64
 20  range_amount_tran       65020 non-null  float64
 21  mean_t_tran             65020 non-null  float64
 22  median_t_tran           65020 non-null  float64
 23  min_t_tran              65020 non-null  float64
 24  max_t_tran              65020 non-null  float64
 25  range_t_tran            65020 non-null  float64
 26  freq_tran               65020 non-null  float64
 27  recency_tran            65020 non-null  float64
 28  max_to_sum_am_tran      65020 non-null  float64
 29  median_to_mean_am_tran  65020 non-null  float64
 30  weekly_tran_mean        65020 non-null  float64
 31  weekly_tran_min         65020 non-null  float64
 32  weekly_tran_max         65020 non-null  float64
dtypes: float64(27), int64(2), object(4)
memory usage: 16.7+ MB
None

,person,gender,age_group,ofr_id_short,cnt_completed,cnt_received,cnt_viewed,curiosity_vr,eagerness_cv,overall_cr,...,min_t_tran,max_t_tran,range_t_tran,freq_tran,recency_tran,max_to_sum_am_tran,median_to_mean_am_tran,weekly_tran_mean,weekly_tran_min,weekly_tran_max
0,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_C,0.0,1.0,1.0,0.106,0.000,0.000,...,228.0,696.0,468.0,1.71,713.03,0.220690,0.867712,2.00,1.0,4.0
1,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_G,1.0,1.0,1.0,0.106,1.446,0.256,...,228.0,696.0,468.0,1.71,713.03,0.220690,0.867712,2.00,1.0,4.0
2,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_H,0.0,1.0,1.0,0.256,0.000,0.000,...,228.0,696.0,468.0,1.71,713.03,0.220690,0.867712,2.00,1.0,4.0
3,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_I,1.0,1.0,1.0,0.042,1.933,0.765,...,228.0,696.0,468.0,1.71,713.03,0.220690,0.867712,2.00,1.0,4.0
4,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_J,1.0,1.0,0.0,0.000,2.000,1.000,...,228.0,696.0,468.0,1.71,713.03,0.220690,0.867712,2.00,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66496,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_E,1.0,1.0,1.0,0.765,0.256,0.166,...,60.0,648.0,588.0,2.55,713.09,0.103154,1.033179,3.75,3.0,5.0
66497,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_G,1.0,1.0,1.0,0.765,0.026,0.016,...,60.0,648.0,588.0,2.55,713.09,0.103154,1.033179,3.75,3.0,5.0
66498,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,0.383,0.166,0.042,...,60.0,648.0,588.0,2.55,713.09,0.103154,1.033179,3.75,3.0,5.0
66499,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,0.765,1.000,0.765,...,60.0,648.0,588.0,2.55,713.09,0.103154,1.033179,3.75,3.0,5.0
66500,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,0.765,1.235,1.000,...,60.0,648.0,588.0,2.55,713.09,0.103154,1.033179,3.75,3.0,5.0

DataFrame: user_event_u_transactions
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66501 entries, 0 to 66500
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   person         66501 non-null  object
 1   gender         66501 non-null  object
 2   age_group      66501 non-null  object
 3   ofr_id_short   66501 non-null  object
 4   cnt_completed  66501 non-null  float64
 5   cnt_received   66501 non-null  float64
 6   cnt_viewed     66501 non-null  float64
 7   curiosity_vr   66501 non-null  float64
 8   eagerness_cv   66501 non-null  float64
 9   overall_cr     66501 non-null  float64
 10  influence      66501 non-null  int64
 11  ext_influence  66501 non-null  int64
 12  time           32444 non-null  float64
 13  amount         32444 non-null  float64
 14  time_diff      26605 non-null  float64
 15  week           32444 non-null  float64
 16  day            32444 non-null  float64
dtypes: float64(11), int64(2), object(4)
memory usage: 8.6+ MB
None

,person,gender,age_group,ofr_id_short,cnt_completed,cnt_received,cnt_viewed,curiosity_vr,eagerness_cv,overall_cr,influence,ext_influence,time,amount,time_diff,week,day
0,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_C,0.0,1.0,1.0,0.106,0.000,0.000,0,0,NaN,NaN,NaN,NaN,NaN
1,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_G,1.0,1.0,1.0,0.106,1.446,0.256,0,0,528.0,14.11,114.0,4.0,22.0
2,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_H,0.0,1.0,1.0,0.256,0.000,0.000,0,0,NaN,NaN,NaN,NaN,NaN
3,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_I,1.0,1.0,1.0,0.042,1.933,0.765,0,0,414.0,8.57,186.0,3.0,18.0
4,0009655768c64bdeb2e877511632db8f,M,Adult,ofr_J,1.0,1.0,0.0,0.000,2.000,1.000,0,0,576.0,10.27,24.0,4.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66496,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_E,1.0,1.0,1.0,0.765,0.256,0.166,1,0,198.0,22.88,78.0,2.0,9.0
66497,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_G,1.0,1.0,1.0,0.765,0.026,0.016,1,0,60.0,16.06,NaN,1.0,3.0
66498,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,0.383,0.166,0.042,1,0,384.0,15.57,72.0,3.0,16.0
66499,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,0.765,1.000,0.765,0,1,414.0,17.55,30.0,3.0,18.0
66500,ffff82501cea40309d5fdd7edcca4a07,F,Adult,ofr_J,1.0,1.0,1.0,0.765,1.235,1.000,0,0,576.0,14.23,72.0,4.0,24.0