# This notebook contais .info() for the tables in the data store

In [23]:
import pandas as pd

In [24]:
portfolio = pd.read_csv('bronze/portfolio.csv')
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reward        10 non-null     int64
 1   channels      10 non-null     object
 2   difficulty    10 non-null     int64
 3   duration      10 non-null     int64
 4   offer_type    10 non-null     object
 5   id            10 non-null     object
 6   ofr_id_short  10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [25]:
profile = pd.read_csv('bronze/profile.csv')
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               14825 non-null  object
 1   age                  17000 non-null  int64
 2   id                   17000 non-null  object
 3   became_member_on     17000 non-null  object
 4   income               14825 non-null  float64
 5   bec_memb_year_month  17000 non-null  object
 6   age_group            17000 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 929.8+ KB

In [26]:
transcript_b = pd.read_csv('bronze/transcript_b.csv')
transcript_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        306534 non-null  object
 1   event         306534 non-null  object
 2   time          306534 non-null  int64
 3   amount        138953 non-null  float64
 4   reward        33579 non-null   float64
 5   ofr_id_short  306534 non-null  object
 6   tag           306534 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.4+ MB

In [27]:
transcript_b

,person,event,time,amount,reward,ofr_id_short,tag
0,78afa995795e4d85b5d9ceeca43f5fef,received,0,NaN,NaN,ofr_D,0
1,a03223e636434f42ac4c3df47e8bac43,received,0,NaN,NaN,ofr_E,0
2,e2127556f4f64592b11af22de27a7932,received,0,NaN,NaN,ofr_J,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,received,0,NaN,NaN,ofr_G,0
4,68617ca6246f4fbc85e91a2a49552598,received,0,NaN,NaN,ofr_B,0
...,...,...,...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,714,1.59,NaN,tran,13
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,714,9.53,NaN,tran,1
306531,a00058cf10334a308c68e7631c529907,transaction,714,3.61,NaN,tran,19
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,714,3.53,NaN,tran,12
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,714,4.05,NaN,tran,7

In [28]:
events = pd.read_csv('bronze/events.csv')
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167581 entries, 0 to 167580
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        167581 non-null  object
 1   event         167581 non-null  object
 2   time          167581 non-null  int64
 3   reward        33579 non-null   float64
 4   ofr_id_short  167581 non-null  object
 5   tag           167581 non-null  int64
 6   time_diff     120979 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 8.9+ MB

In [29]:
transactions = pd.read_csv('bronze/transactions.csv')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138953 entries, 0 to 138952
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   person     138953 non-null  object
 1   event      138953 non-null  object
 2   time       138953 non-null  int64
 3   amount     138953 non-null  float64
 4   tag        138953 non-null  int64
 5   time_diff  122375 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 6.4+ MB

In [30]:
sorted_offers = pd.read_csv('silver/sorted_offers.csv')
sorted_offers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16994 entries, 0 to 16993
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   person                  16994 non-null  object
 1   ofr_id_short_completed  16994 non-null  object
 2   ofr_id_short_received   16994 non-null  object
 3   ofr_id_short_viewed     16994 non-null  object
 4   first_completed         16994 non-null  object
 5   last_completed          16994 non-null  object
dtypes: object(6)
memory usage: 796.7+ KB

In [31]:
item_event_time = pd.read_csv('silver/item_event_time.csv')
item_event_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ofr_id_short            10 non-null     object
 1   itm_cnt_completed       10 non-null     float64
 2   itm_cnt_viewed          10 non-null     float64
 3   itm_mean_t_completed    10 non-null     float64
 4   itm_mean_t_viewed       10 non-null     float64
 5   itm_dif_mean_completed  10 non-null     float64
 6   itm_dif_mean_viewed     10 non-null     float64
 7   itm_dif_max_completed   10 non-null     float64
 8   itm_dif_max_viewed      10 non-null     float64
 9   itm_dif_std_completed   10 non-null     float64
 10  itm_dif_std_viewed      10 non-null     float64
 11  itm_completion_rate     10 non-null     float64
 12  itm_viewed_rate         10 non-null     float64
 13  itm_RSD_copleted        10 non-null     float64
dtypes: float64(13), object(1)
memory usage: 1.2+ KB

In [32]:
user_event_time = pd.read_csv('silver/user_event_time.csv')
user_event_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16994 entries, 0 to 16993
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person                 16994 non-null  object
 1   us_cnt_completed       16994 non-null  float64
 2   us_cnt_viewed          16994 non-null  float64
 3   us_mean_t_completed    16994 non-null  float64
 4   us_mean_t_viewed       16994 non-null  float64
 5   us_dif_mean_completed  16994 non-null  float64
 6   us_dif_mean_viewed     16994 non-null  float64
 7   us_dif_max_completed   16994 non-null  float64
 8   us_dif_max_viewed      16994 non-null  float64
 9   us_dif_std_completed   16994 non-null  float64
 10  us_dif_std_viewed      16994 non-null  float64
 11  us_completion_rate     16994 non-null  float64
 12  us_viewed_rate         16994 non-null  float64
 13  us_RSD_copleted        16994 non-null  float64
dtypes: float64(13), object(1)
memory usage: 1.8+ MB

In [35]:
user_item_event = pd.read_csv('silver/user_item_event.csv')
user_item_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63288 entries, 0 to 63287
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   person                     63288 non-null  object
 1   ofr_id_short               63288 non-null  object
 2   us_ofr_cnt_completed       63288 non-null  float64
 3   us_ofr_cnt_viewed          63288 non-null  float64
 4   us_ofr_max_t_completed     63288 non-null  float64
 5   us_ofr_max_t_received      63288 non-null  float64
 6   us_ofr_max_t_viewed        63288 non-null  float64
 7   us_ofr_dif_mean_completed  63288 non-null  float64
 8   us_ofr_dif_mean_received   63288 non-null  float64
 9   us_ofr_dif_mean_viewed     63288 non-null  float64
 10  us_ofr_dif_max_completed   63288 non-null  float64
 11  us_ofr_dif_max_received    63288 non-null  float64
 12  us_ofr_dif_max_viewed      63288 non-null  float64
 13  us_ofr_dif_std_completed   63288 non-null  float64
 14  us_ofr_dif_std_received    63288 non-null  float64
 15  us_ofr_dif_std_viewed      63288 non-null  float64
 16  stage                      63288 non-null  float64
 17  curiosity_vr               63288 non-null  float64
 18  eagerness_cv               63288 non-null  float64
 19  overall_cr                 63288 non-null  float64
 20  influence                  63288 non-null  int64
 21  ext_influence              63288 non-null  int64
dtypes: float64(18), int64(2), object(2)
memory usage: 10.6+ MB

In [ ]:
user_item_u_event = pd.read_csv('silver/user_item_u_event.csv')
user_item_u_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   person         76277 non-null  object
 1   ofr_id_short   76277 non-null  object
 2   tag            76277 non-null  int64
 3   cnt_completed  76277 non-null  float64
 4   cnt_viewed     76277 non-null  float64
 5   stage          76277 non-null  float64
 6   curiosity_vr   76277 non-null  float64
 7   eagerness_cv   76277 non-null  float64
 8   overall_cr     76277 non-null  float64
 9   influence      76277 non-null  int64
 10  ext_influence  76277 non-null  int64
dtypes: float64(6), int64(3), object(2)
memory usage: 6.4+ MB

In [ ]:
user_transactions = pd.read_csv('silver/user_transactions.csv')
user_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   person                  16578 non-null  object
 1   cnt_tran                16578 non-null  int64
 2   sum_am_tran             16578 non-null  float64
 3   mean_am_tran            16578 non-null  float64
 4   median_am_tran          16578 non-null  float64
 5   min_am_tran             16578 non-null  float64
 6   max_am_tran             16578 non-null  float64
 7   small_tran_count        16578 non-null  int64
 8   big_tran_count          16578 non-null  int64
 9   range_amount_tran       16578 non-null  float64
 10  mean_t_tran             16578 non-null  float64
 11  median_t_tran           16578 non-null  float64
 12  min_t_tran              16578 non-null  int64
 13  max_t_tran              16578 non-null  int64
 14  dif_t_tran_mean         16578 non-null  float64
 15  dif_t_tran_min          16578 non-null  float64
 16  dif_t_tran_max          16578 non-null  float64
 17  std_diff_t_tran         16578 non-null  float64
 18  range_t_tran            16578 non-null  int64
 19  freq_tran               16578 non-null  float64
 20  recency_tran            16578 non-null  float64
 21  max_to_sum_am_tran      16578 non-null  float64
 22  median_to_mean_am_tran  16578 non-null  float64
 23  weekly_tran_mean        16578 non-null  float64
 24  weekly_tran_min         16578 non-null  int64
 25  weekly_tran_max         16578 non-null  int64
dtypes: float64(17), int64(8), object(1)
memory usage: 3.3+ MB

In [ ]:
user_transactions_time = pd.read_csv('silver/user_transactions_time.csv')
user_transactions_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person     16578 non-null  object
 1   period_1   16578 non-null  float64
 2   period_2   16578 non-null  float64
 3   period_3   16578 non-null  float64
 4   period_4   16578 non-null  float64
 5   period_5   16578 non-null  float64
 6   period_6   16578 non-null  float64
 7   period_7   16578 non-null  float64
 8   period_8   16578 non-null  float64
 9   period_9   16578 non-null  float64
 10  period_10  16578 non-null  float64
 11  period_11  16578 non-null  float64
 12  period_12  16578 non-null  float64
 13  period_13  16578 non-null  float64
 14  period_14  16578 non-null  float64
 15  period_15  16578 non-null  float64
 16  period_16  16578 non-null  float64
 17  period_17  16578 non-null  float64
 18  period_18  16578 non-null  float64
 19  period_19  16578 non-null  float64
 20  period_20  16578 non-null  float64
 21  recency    16578 non-null  int64
 22  churn      16578 non-null  int64
 23  churn2     16578 non-null  int64
dtypes: float64(20), int64(3), object(1)
memory usage: 3.0+ MB

In [ ]:
analytical_table = pd.read_csv('gold/analytical_table.csv')
analytical_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 78 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  66501 non-null  object
 1   age                     76277 non-null  int64
 2   id                      76277 non-null  object
 3   became_member_on        76277 non-null  object
 4   income                  66501 non-null  float64
 5   bec_memb_year_month     76277 non-null  object
 6   age_group               76277 non-null  object
 7   ofr_id_short            76277 non-null  object
 8   tag                     76277 non-null  int64
 9   cnt_completed           76277 non-null  float64
 10  cnt_viewed              76277 non-null  float64
 11  stage                   76277 non-null  float64
 12  curiosity_vr            76277 non-null  float64
 13  eagerness_cv            76277 non-null  float64
 14  overall_cr              76277 non-null  float64
 15  influence               76277 non-null  int64
 16  ext_influence           76277 non-null  int64
 17  us_cnt_completed        76277 non-null  float64
 18  us_cnt_viewed           76277 non-null  float64
 19  us_mean_t_completed     76277 non-null  float64
 20  us_mean_t_viewed        76277 non-null  float64
 21  us_dif_mean_completed   76277 non-null  float64
 22  us_dif_mean_viewed      76277 non-null  float64
 23  us_dif_max_completed    76277 non-null  float64
 24  us_dif_max_viewed       76277 non-null  float64
 25  us_dif_std_completed    76277 non-null  float64
 26  us_dif_std_viewed       76277 non-null  float64
 27  us_completion_rate      76277 non-null  float64
 28  us_viewed_rate          76277 non-null  float64
 29  us_RSD_copleted         76277 non-null  float64
 30  cnt_tran                74396 non-null  float64
 31  sum_am_tran             74396 non-null  float64
 32  mean_am_tran            74396 non-null  float64
 33  median_am_tran          74396 non-null  float64
 34  min_am_tran             74396 non-null  float64
 35  max_am_tran             74396 non-null  float64
 36  small_tran_count        74396 non-null  float64
 37  big_tran_count          74396 non-null  float64
 38  range_amount_tran       74396 non-null  float64
 39  mean_t_tran             74396 non-null  float64
 40  median_t_tran           74396 non-null  float64
 41  min_t_tran              74396 non-null  float64
 42  max_t_tran              74396 non-null  float64
 43  dif_t_tran_mean         74396 non-null  float64
 44  dif_t_tran_min          74396 non-null  float64
 45  dif_t_tran_max          74396 non-null  float64
 46  std_diff_t_tran         74396 non-null  float64
 47  range_t_tran            74396 non-null  float64
 48  freq_tran               74396 non-null  float64
 49  recency_tran            74396 non-null  float64
 50  max_to_sum_am_tran      74396 non-null  float64
 51  median_to_mean_am_tran  74396 non-null  float64
 52  weekly_tran_mean        74396 non-null  float64
 53  weekly_tran_min         74396 non-null  float64
 54  weekly_tran_max         74396 non-null  float64
 55  period_1                74396 non-null  float64
 56  period_2                74396 non-null  float64
 57  period_3                74396 non-null  float64
 58  period_4                74396 non-null  float64
 59  period_5                74396 non-null  float64
 60  period_6                74396 non-null  float64
 61  period_7                74396 non-null  float64
 62  period_8                74396 non-null  float64
 63  period_9                74396 non-null  float64
 64  period_10               74396 non-null  float64
 65  period_11               74396 non-null  float64
 66  period_12               74396 non-null  float64
 67  period_13               74396 non-null  float64
 68  period_14               74396 non-null  float64
 69  period_15               74396 non-null  float64
 70  period_16               74396 non-null  float64
 71  period_17               74396 non-null  float64
 72  period_18               74396 non-null  float64
 73  period_19               74396 non-null  float64
 74  period_20               74396 non-null  float64
 75  recency                 74396 non-null  float64
 76  churn                   74396 non-null  float64
 77  churn2                  74396 non-null  float64
dtypes: float64(68), int64(4), object(6)
memory usage: 45.4+ MB