# This notebook contais descriptions for the tables in the data store

In [17]:
import pandas as pd

In [18]:
portfolio = pd.read_csv('bronze/portfolio.csv')
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reward        10 non-null     int64
 1   channels      10 non-null     object
 2   difficulty    10 non-null     int64
 3   duration      10 non-null     int64
 4   offer_type    10 non-null     object
 5   id            10 non-null     object
 6   ofr_id_short  10 non-null     object
dtypes: int64(3), object(4)
memory usage: 692.0+ bytes

In [19]:
profile = pd.read_csv('bronze/profile.csv')
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               14825 non-null  object
 1   age                  17000 non-null  int64
 2   id                   17000 non-null  object
 3   became_member_on     17000 non-null  object
 4   income               14825 non-null  float64
 5   bec_memb_year_month  17000 non-null  object
 6   age_group            17000 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 929.8+ KB

In [20]:
transcript_b = pd.read_csv('bronze/transcript_b.csv')
transcript_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        306534 non-null  object
 1   event         306534 non-null  object
 2   time          306534 non-null  int64
 3   amount        138953 non-null  float64
 4   reward        33579 non-null   float64
 5   ofr_id_short  306534 non-null  object
 6   tag           306534 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.4+ MB

In [21]:
transcript_b

,person,event,time,amount,reward,ofr_id_short,tag
0,78afa995795e4d85b5d9ceeca43f5fef,received,0,NaN,NaN,ofr_D,0
1,a03223e636434f42ac4c3df47e8bac43,received,0,NaN,NaN,ofr_E,0
2,e2127556f4f64592b11af22de27a7932,received,0,NaN,NaN,ofr_J,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,received,0,NaN,NaN,ofr_G,0
4,68617ca6246f4fbc85e91a2a49552598,received,0,NaN,NaN,ofr_B,0
...,...,...,...,...,...,...,...
306529,b3a1272bc9904337b331bf348c3e8c17,transaction,714,1.59,NaN,tran,13
306530,68213b08d99a4ae1b0dcb72aebd9aa35,transaction,714,9.53,NaN,tran,1
306531,a00058cf10334a308c68e7631c529907,transaction,714,3.61,NaN,tran,19
306532,76ddbd6576844afe811f1a3c0fbb5bec,transaction,714,3.53,NaN,tran,12
306533,c02b10e8752c4d8e9b73f918558531f7,transaction,714,4.05,NaN,tran,7

In [22]:
events = pd.read_csv('bronze/events.csv')
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167581 entries, 0 to 167580
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   person        167581 non-null  object
 1   event         167581 non-null  object
 2   time          167581 non-null  int64
 3   reward        33579 non-null   float64
 4   ofr_id_short  167581 non-null  object
 5   tag           167581 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 7.7+ MB

In [23]:
transactions = pd.read_csv('bronze/transactions.csv')
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138953 entries, 0 to 138952
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   person  138953 non-null  object
 1   event   138953 non-null  object
 2   time    138953 non-null  int64
 3   amount  138953 non-null  float64
 4   tag     138953 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.3+ MB

In [24]:
offer_rank = pd.read_csv('silver/offer_rank.csv')
offer_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ofr_id_short     10 non-null     object
 1   cnt_completed    10 non-null     float64
 2   cnt_received     10 non-null     float64
 3   cnt_viewed       10 non-null     float64
 4   completion_rate  10 non-null     float64
 5   viewed_rate      10 non-null     float64
dtypes: float64(5), object(1)
memory usage: 612.0+ bytes

In [25]:
user_item_events = pd.read_csv('silver/user_item_events.csv')
user_item_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63288 entries, 0 to 63287
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   person           63288 non-null  object
 1   ofr_id_short     63288 non-null  object
 2   cnt_eve          63288 non-null  int64
 3   mean_t_eve       63288 non-null  float64
 4   median_t_eve     63288 non-null  float64
 5   min_t_eve        63288 non-null  int64
 6   max_t_eve        63288 non-null  int64
 7   range_t_eve      63288 non-null  int64
 8   freq_eve         63288 non-null  float64
 9   last_to_end_eve  63288 non-null  int64
dtypes: float64(3), int64(5), object(2)
memory usage: 4.8+ MB

In [26]:
user_item_transactions = pd.read_csv('silver/user_item_transactions.csv')
user_item_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person             16578 non-null  object
 1   cnt_tran           16578 non-null  int64
 2   sum_am_tran        16578 non-null  float64
 3   mean_am_tran       16578 non-null  float64
 4   median_am_tran     16578 non-null  float64
 5   min_am_tran        16578 non-null  float64
 6   max_am_tran        16578 non-null  float64
 7   range_amount_tran  16578 non-null  float64
 8   mean_t_tran        16578 non-null  float64
 9   median_t_tran      16578 non-null  float64
 10  min_t_tran         16578 non-null  int64
 11  max_t_tran         16578 non-null  int64
 12  range_t_tran       16578 non-null  int64
 13  freq_tran          16578 non-null  float64
 14  last_to_end_tran   16578 non-null  int64
dtypes: float64(9), int64(5), object(1)
memory usage: 1.9+ MB

In [27]:
user_item_u_event = pd.read_csv('silver/user_item_u_event.csv')
user_item_u_event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   person         76277 non-null  object
 1   ofr_id_short   76277 non-null  object
 2   tag            76277 non-null  int64
 3   cnt_completed  76277 non-null  float64
 4   cnt_received   76277 non-null  float64
 5   cnt_viewed     76277 non-null  float64
 6   stage          76277 non-null  float64
 7   curiosity_vr   76277 non-null  float64
 8   eagerness_cv   76277 non-null  float64
 9   overall_cr     76277 non-null  float64
 10  influence      76277 non-null  int64
 11  ext_influence  76277 non-null  int64
dtypes: float64(7), int64(3), object(2)
memory usage: 7.0+ MB

In [28]:
user_item_ut = pd.read_csv('silver/user_item_ut.csv')
user_item_ut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   person          76277 non-null  object
 1   ofr_id_short    76277 non-null  object
 2   tag_x           76277 non-null  int64
 3   cnt_completed   33579 non-null  float64
 4   cnt_received    76277 non-null  float64
 5   cnt_viewed      57725 non-null  float64
 6   time_completed  76277 non-null  float64
 7   time_received   76277 non-null  float64
 8   time_viewed     76277 non-null  float64
 9   stage           76277 non-null  float64
 10  to_vr           76277 non-null  float64
 11  to_cv           63354 non-null  float64
 12  to_cr           76277 non-null  float64
 13  curiosity_vr    76277 non-null  float64
 14  eagerness_cv    76277 non-null  float64
 15  overall_cr      76277 non-null  float64
 16  influence       76277 non-null  int64
 17  ext_influence   76277 non-null  int64
 18  event           33579 non-null  object
 19  time            33579 non-null  float64
 20  amount          33579 non-null  float64
 21  tag_y           33579 non-null  float64
dtypes: float64(16), int64(3), object(3)
memory usage: 12.8+ MB

In [29]:
user_item_ut

,person,ofr_id_short,tag_x,cnt_completed,cnt_received,cnt_viewed,time_completed,time_received,time_viewed,stage,...,to_cr,curiosity_vr,eagerness_cv,overall_cr,influence,ext_influence,event,time,amount,tag_y
0,0009655768c64bdeb2e877511632db8f,ofr_C,0,NaN,1.0,1.0,inf,336.0,372.0,2.0,...,inf,2.702703,0.000000,0.000000,0,0,NaN,NaN,NaN,NaN
1,0009655768c64bdeb2e877511632db8f,ofr_G,0,1.0,1.0,1.0,528.0,504.0,540.0,3.0,...,24.0,2.702703,-1.000000,4.000000,0,0,transaction,528.0,14.11,2.0
2,0009655768c64bdeb2e877511632db8f,ofr_H,0,NaN,1.0,1.0,inf,168.0,192.0,2.0,...,inf,4.000000,0.000000,0.000000,0,0,NaN,NaN,NaN,NaN
3,0009655768c64bdeb2e877511632db8f,ofr_I,0,1.0,1.0,1.0,414.0,408.0,456.0,3.0,...,6.0,2.040816,-1.000000,14.285714,0,0,transaction,414.0,8.57,1.0
4,0009655768c64bdeb2e877511632db8f,ofr_J,0,1.0,1.0,NaN,576.0,576.0,inf,2.0,...,0.0,0.000000,-1.000000,100.000000,0,0,transaction,576.0,10.27,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76272,ffff82501cea40309d5fdd7edcca4a07,ofr_E,0,1.0,1.0,1.0,198.0,168.0,174.0,3.0,...,30.0,14.285714,4.000000,3.225806,1,0,transaction,198.0,22.88,3.0
76273,ffff82501cea40309d5fdd7edcca4a07,ofr_G,0,1.0,1.0,1.0,60.0,0.0,6.0,3.0,...,60.0,14.285714,1.818182,1.639344,1,0,transaction,60.0,16.06,0.0
76274,ffff82501cea40309d5fdd7edcca4a07,ofr_J,0,1.0,1.0,1.0,384.0,336.0,354.0,3.0,...,48.0,5.263158,3.225806,2.040816,1,0,transaction,384.0,15.57,8.0
76275,ffff82501cea40309d5fdd7edcca4a07,ofr_J,1,1.0,1.0,1.0,414.0,408.0,414.0,3.0,...,6.0,14.285714,100.000000,14.285714,1,1,transaction,414.0,17.55,9.0
76276,ffff82501cea40309d5fdd7edcca4a07,ofr_J,2,1.0,1.0,1.0,576.0,576.0,582.0,3.0,...,0.0,14.285714,-1.000000,100.000000,0,0,transaction,576.0,14.23,12.0

In [30]:
user_item_ut[user_item_ut['person'] == '0009655768c64bdeb2e877511632db8f']

,person,ofr_id_short,tag_x,cnt_completed,cnt_received,cnt_viewed,time_completed,time_received,time_viewed,stage,...,to_cr,curiosity_vr,eagerness_cv,overall_cr,influence,ext_influence,event,time,amount,tag_y
0,0009655768c64bdeb2e877511632db8f,ofr_C,0,NaN,1.0,1.0,inf,336.0,372.0,2.0,...,inf,2.702703,0.0,0.000000,0,0,NaN,NaN,NaN,NaN
1,0009655768c64bdeb2e877511632db8f,ofr_G,0,1.0,1.0,1.0,528.0,504.0,540.0,3.0,...,24.0,2.702703,-1.0,4.000000,0,0,transaction,528.0,14.11,2.0
2,0009655768c64bdeb2e877511632db8f,ofr_H,0,NaN,1.0,1.0,inf,168.0,192.0,2.0,...,inf,4.000000,0.0,0.000000,0,0,NaN,NaN,NaN,NaN
3,0009655768c64bdeb2e877511632db8f,ofr_I,0,1.0,1.0,1.0,414.0,408.0,456.0,3.0,...,6.0,2.040816,-1.0,14.285714,0,0,transaction,414.0,8.57,1.0
4,0009655768c64bdeb2e877511632db8f,ofr_J,0,1.0,1.0,NaN,576.0,576.0,inf,2.0,...,0.0,0.000000,-1.0,100.000000,0,0,transaction,576.0,10.27,4.0

In [31]:
transactions_time = pd.read_csv('silver/transactions_time.csv')
transactions_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16578 entries, 0 to 16577
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person     16578 non-null  object
 1   period_1   16578 non-null  float64
 2   period_2   16578 non-null  float64
 3   period_3   16578 non-null  float64
 4   period_4   16578 non-null  float64
 5   period_5   16578 non-null  float64
 6   period_6   16578 non-null  float64
 7   period_7   16578 non-null  float64
 8   period_8   16578 non-null  float64
 9   period_9   16578 non-null  float64
 10  period_10  16578 non-null  float64
 11  period_11  16578 non-null  float64
 12  period_12  16578 non-null  float64
 13  period_13  16578 non-null  float64
 14  period_14  16578 non-null  float64
 15  period_15  16578 non-null  float64
 16  period_16  16578 non-null  float64
 17  period_17  16578 non-null  float64
 18  period_18  16578 non-null  float64
 19  period_19  16578 non-null  float64
 20  period_20  16578 non-null  float64
 21  recency    16578 non-null  int64
 22  churn      16578 non-null  int64
 23  churn2     16578 non-null  int64
dtypes: float64(20), int64(3), object(1)
memory usage: 3.0+ MB

In [32]:
analytical_table = pd.read_csv('gold/analytical_table.csv')
analytical_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76277 entries, 0 to 76276
Data columns (total 63 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   person               76277 non-null  object
 1   ofr_id_short         76277 non-null  object
 2   tag                  76277 non-null  int64
 3   cnt_completed        76277 non-null  float64
 4   cnt_received         76277 non-null  float64
 5   cnt_viewed           76277 non-null  float64
 6   stage                76277 non-null  float64
 7   curiosity_vr         76277 non-null  float64
 8   eagerness_cv         76277 non-null  float64
 9   overall_cr           76277 non-null  float64
 10  influence            76277 non-null  int64
 11  ext_influence        76277 non-null  int64
 12  gender               66501 non-null  object
 13  age                  76277 non-null  int64
 14  became_member_on     76277 non-null  object
 15  income               66501 non-null  float64
 16  bec_memb_year_month  76277 non-null  object
 17  age_group            76277 non-null  object
 18  cnt_eve              76277 non-null  int64
 19  mean_t_eve           76277 non-null  float64
 20  median_t_eve         76277 non-null  float64
 21  min_t_eve            76277 non-null  int64
 22  max_t_eve            76277 non-null  int64
 23  range_t_eve          76277 non-null  int64
 24  freq_eve             76277 non-null  float64
 25  last_to_end_eve      76277 non-null  int64
 26  cnt_tran             74396 non-null  float64
 27  sum_am_tran          74396 non-null  float64
 28  mean_am_tran         74396 non-null  float64
 29  median_am_tran       74396 non-null  float64
 30  min_am_tran          74396 non-null  float64
 31  max_am_tran          74396 non-null  float64
 32  range_amount_tran    74396 non-null  float64
 33  mean_t_tran          74396 non-null  float64
 34  median_t_tran        74396 non-null  float64
 35  min_t_tran           74396 non-null  float64
 36  max_t_tran           74396 non-null  float64
 37  range_t_tran         74396 non-null  float64
 38  freq_tran            74396 non-null  float64
 39  last_to_end_tran     74396 non-null  float64
 40  period_1             74396 non-null  float64
 41  period_2             74396 non-null  float64
 42  period_3             74396 non-null  float64
 43  period_4             74396 non-null  float64
 44  period_5             74396 non-null  float64
 45  period_6             74396 non-null  float64
 46  period_7             74396 non-null  float64
 47  period_8             74396 non-null  float64
 48  period_9             74396 non-null  float64
 49  period_10            74396 non-null  float64
 50  period_11            74396 non-null  float64
 51  period_12            74396 non-null  float64
 52  period_13            74396 non-null  float64
 53  period_14            74396 non-null  float64
 54  period_15            74396 non-null  float64
 55  period_16            74396 non-null  float64
 56  period_17            74396 non-null  float64
 57  period_18            74396 non-null  float64
 58  period_19            74396 non-null  float64
 59  period_20            74396 non-null  float64
 60  recency              74396 non-null  float64
 61  churn                74396 non-null  float64
 62  churn2               74396 non-null  float64
dtypes: float64(48), int64(9), object(6)
memory usage: 36.7+ MB

In [33]:
len({x for x in profile['id']})

17000

In [34]:
len({x for x in transcript_b['person']})

17000

In [35]:
len({x for x in events['person']})

16994

In [70]:
(set(profile['id']) - set(events['person']))

{'12ede229379747bd8d74ccdc20097ca3',
 '3a4874d8f0ef42b9a1b72294902afea9',
 'ae8111e7e8cd4b60a8d35c42c1110555',
 'c6e579c6821c41d1a7a6a9cf936e91bb',
 'da7a7c0dcfcb41a8acc7864a53cf60fb',
 'eb540099db834cf59001f83a4561aef3'}

In [36]:
len({x for x in transactions['person']})

16578

In [72]:
len(set(transactions['person']) - (set(profile['id']) - set(events['person'])))

16572

In [75]:
transactions['person'].isin(list(set(profile['id']) - set(events['person']))).sum()

np.int64(20)

In [82]:
transactions.loc[transactions['person'].isin(list(set(profile['id']) - set(events['person']))),:].sort_values(by=['person', 'tag'])

                                  person        event  time  amount  tag
3072    12ede229379747bd8d74ccdc20097ca3  transaction    18   16.62    0
54384   12ede229379747bd8d74ccdc20097ca3  transaction   324   27.60    1
127874  12ede229379747bd8d74ccdc20097ca3  transaction   654   19.03    2
53964   3a4874d8f0ef42b9a1b72294902afea9  transaction   324   22.75    0
63914   3a4874d8f0ef42b9a1b72294902afea9  transaction   378   27.20    1
109026  3a4874d8f0ef42b9a1b72294902afea9  transaction   576   17.67    2
51736   ae8111e7e8cd4b60a8d35c42c1110555  transaction   306   17.51    0
55183   ae8111e7e8cd4b60a8d35c42c1110555  transaction   330   28.70    1
79687   ae8111e7e8cd4b60a8d35c42c1110555  transaction   444   11.53    2
123929  ae8111e7e8cd4b60a8d35c42c1110555  transaction   636    9.72    3
127821  ae8111e7e8cd4b60a8d35c42c1110555  transaction   654   18.97    4
26962   c6e579c6821c41d1a7a6a9cf936e91bb  transaction   174    0.65    0
36146   c6e579c6821c41d1a7a6a9cf936e91bb  transaction   222    1.91    1
69847   c6e579c6821c41d1a7a6a9cf936e91bb  transaction   408    1.25    2
107113  c6e579c6821c41d1a7a6a9cf936e91bb  transaction   570    3.14    3
110215  da7a7c0dcfcb41a8acc7864a53cf60fb  transaction   582    0.35    0
894     eb540099db834cf59001f83a4561aef3  transaction     6    4.74    0
53003   eb540099db834cf59001f83a4561aef3  transaction   318    5.09    1
97835   eb540099db834cf59001f83a4561aef3  transaction   528    7.40    2
113083  eb540099db834cf59001f83a4561aef3  transaction   594    8.78    3

In [80]:
events.loc[events['person'].isin(list(set(profile['id']) - set(events['person']))),:]

Empty DataFrame
Columns: [person, event, time, reward, ofr_id_short, tag]
Index: []

In [84]:
profile.loc[profile['id'].isin(list(set(events['person']) - set(transactions['person']))),:]

,gender,age,id,became_member_on,income,bec_memb_year_month,age_group
6,NaN,118,8ec6ce2a7e7949b1bf142def7d0e0586,2017-09-25,NaN,2017-09,Senior
90,F,70,13b7b2eccf664a329d83d2a238a9a11d,2018-06-13,74000.0,2018-06,Senior
92,F,62,ffc6c9fbe34b4578911dcdf6745b4c74,2018-04-10,57000.0,2018-04,Senior
202,M,81,accec36a10704e1fbaeb9b28b8bc5da8,2018-05-03,93000.0,2018-05,Senior
219,F,79,688e4f2487d44ad8bbcc0f96936f42d6,2018-07-11,106000.0,2018-07,Senior
...,...,...,...,...,...,...,...
16654,M,67,122d6efefb634edeb6a7199163a012d5,2018-06-22,73000.0,2018-06,Senior
16725,M,63,8c8aab35a805417b9f818afd497f26a4,2017-08-13,71000.0,2017-08,Senior
16867,M,34,b29f03fcfc844f01b93c28ce950a2cd7,2018-03-10,31000.0,2018-03,Adult
16873,M,73,043b6b6be98c412d901f7f376e0548d0,2017-10-05,77000.0,2017-10,Senior
16877,NaN,118,b6f74fc8e1664cfb9b44834dd9f7cf48,2018-03-07,NaN,2018-03,Senior